# Infrastructure Investment & Jobs Act Funding Allocation
## Keeno Glanville

![Example Image](https://s.abcnews.com/images/Politics/biden-powell-gty-ml-211122_1637606167248_hpMain.jpg)

## To understand the the problem at hand we first have to decide where we will get our data from. In this assignment I will utilize census data from census.gov as well as election data from fec.gov. These are both sources of data that we can utilize for our benefit of the assignment. The only thing is we have to clean the data to make sure they link into each other by State names. As there are some typographical errors in these datasets.

In [1]:
# Load libraries and dependencies
import pandas as pd
import numpy as np
import seaborn as sns

In [7]:
funding = pd.read_excel('IIJA FUNDING AS OF MARCH 2023.xlsx')
funding

   State, Teritory or Tribal Nation  Total (Billions)
0                           ALABAMA            3.0000
1                            ALASKA            3.7000
2                    AMERICAN SAMOA            0.0686
3                           ARIZONA            3.5000
4                          ARKANSAS            2.8000
5                        CALIFORNIA           18.4000
6                          COLORADO            3.2000
7                       CONNECTICUT            2.5000
8                          DELEWARE            0.7920
9              DISTRICT OF COLUMBIA            1.1000
10                          FLORIDA            8.2000
11                          GEORGIA            5.0000
12                             GUAM            0.1426
13                           HAWAII            1.0000
14                            IDAHO            1.2000
15                         ILLINOIS            8.4000
16                          INDIANA            3.4000
17                             IOWA            2.4000
18                           KANSAS            1.5000
19                         KENTUCKY            3.9000
20                        LOUISIANA            4.3000
21                            MAINE            1.1000
22                         MARYLAND            2.7000
23                    MASSACHUSETTS            3.6000
24                         MICHIGAN            5.2000
25                        MINNESOTA            2.7000
26                      MISSISSIPPI            2.3000
27                         MISSOURI            3.8000
28                          MONTANA            3.3000
29                         NEBRASKA            1.3000
30                           NEVADA            1.7000
31                    NEW HAMPSHIRE            0.7518
32                       NEW JERSEY            5.1000
33                       NEW MEXICO            2.6000
34                         NEW YORK           10.1000
35                   NORTH CAROLINA            4.5000
36                     NORTH DAKOTA            1.8000
37         NORTHERN MARIANA ISLANDS            0.0833
38                             OHIO            6.6000
39                         OKLAHOMA            2.9000
40                           OREGON            2.3000
41                     PENNSYLVANIA            8.1000
42                      PUERTO RICO            0.9937
43                     RHODE ISLAND            1.1000
44                   SOUTH CAROLINA            2.3000
45                     SOUTH DAKOTA            1.3000
46                        TENNESSEE            3.7000
47                            TEXAS           14.2000
48               TRIBAL COMMUNITIES            3.0000
49                US VIRGIN ISLANDS            0.1483
50                             UTAH            1.8000
51                          VERMONT            0.8521
52                         VIRGINIA            4.5000
53                       WASHINGTON            4.0000
54                    WEST VIRGINIA            2.0000
55                        WISCONSIN            2.8000
56                          WYOMING            2.3000

In [8]:
population = pd.read_excel('NST-EST2022-POP.xlsx')
population

,table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Annual Estimates of the Resident Population fo...,NaN,NaN,NaN,NaN
1,Geographic Area,"April 1, 2020 Estimates Base",Population Estimate (as of July 1),NaN,NaN
2,NaN,NaN,2020,2021.0,2022.0
3,United States,331449520,331511512,332031554.0,333287557.0
4,Northeast,57609156,57448898,57259257.0,57040406.0
...,...,...,...,...,...
61,Note: The estimates are developed from a base ...,NaN,NaN,NaN,NaN
62,Suggested Citation:,NaN,NaN,NaN,NaN
63,Annual Estimates of the Resident Population fo...,NaN,NaN,NaN,NaN
64,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN
65,Release Date: December 2022,NaN,NaN,NaN,NaN

In [ ]:
elections =